.div_img{
  margin-top: auto;
}

.div_img img {
  max-width: 115px;
  width: 115px;
  margin: 15px;
}

.div_link {
  display: flex;
  margin-top: 28%;
  width: 13vw;
  margin-left: 10px;
}

.div_link:hover {
  color: #b71c1c;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media (max-width: 500px) {
    .div_link {
      width: 40vw;
    }
  }

  @media(max-width: 375px){
    .div_link {
        width: 50vw;
      }
  }
