.card {
  margin: auto;
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
}

.children {
  margin: auto;
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  border: solid;
  height: 30vh;
  width: 30vw;
}

.children:hover {
  cursor: pointer;
  color: #b71c1c;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.icon{
  font-size: 7vw !important;
  margin-bottom: 15% !important;
}

.label{
  font-size: 3vw
}
@media (max-width: 450px){
  .icon{
    font-size: 15vw !important;
  }

  .label{
    font-size: 8vw
  }
  
  .children {
    height: 40vh;
    width: 40vw;
  }
}

@media (max-width: 325px){
  .icon{
    font-size: 12vw !important;
  }

  .label{
    font-size: 8vw
  }
  
  .children {
    height: 35vh;
    width: 35vw;
    margin-bottom: 25%;
  }
}