* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  background: darkgrey;
}

.Body {
  position: absolute;
  top: 18%; /* Header Height */
  bottom: 15vh; /* Footer Height */
  width: 100%;
  overflow: auto;
}

.Insta {
  height: 200px;
  padding: 5px;
  margin: 5px;
  display: flex;
}

.anchor:hover{
  cursor: pointer;
  color: #b71c1c;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

header,
footer {
  flex: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.easterEgg {
  overflow: hidden;
}

.alice-carousel__stage-item {
  max-width: 100%;
}

@media (max-width: 1000px) {
  .easterEgg {
    overflow-y: scroll;
    height: 69vh;
  }
}

@media(max-height: 500px){
  .Body{
    margin-top: 6%;
  }

  .Insta{
    margin: 5% 5% 15% 5%;
  }

}