* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  background: darkgrey;
}

.Body {
  position: absolute;
  top: 18%; /* Header Height */
  bottom: 50px; /* Footer Height */
  width: 100%;
}


.Insta {
  height: 200px;
  padding: 5px;
  margin: 5px;
  display: flex;
}

.anchor:hover{
  cursor: pointer;
  color: #c536a6;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

header,
footer {
  flex: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.easterEgg {
  overflow: hidden;
}

.alice-carousel__stage-item {
  max-width: 100%;
}





@media (max-width: 1000px) {
  .easterEgg {
    overflow-y: scroll;
    height: 69vh;
  }

  .footer_2{
    margin-top: -3%;
  }
}
@media( max-width: 450px) and (max-height: 830px){
  .footer_2{
    margin-top: 2.5%;
  }
}

@media( max-width: 380px) and (max-height: 700px){
  .footer_2{
    margin-top: -2%;
  }
}

@media(max-height: 500px){
  .Body{
    margin-top: 6%;
  }

  .Insta{
    margin: 5% 5% 15% 5%;
  }

  .Footer{
    height: 17vh;
  }

  .footer_2{
    margin-top: -7%;
  }
}


@media( max-width: 300px) and (max-height: 600px){
  .footer_2{
    margin-top: 2%;
  }
}

@media( min-width: 750px) and (max-width: 800px)
and (min-height: 1000px) and (max-height: 1025px){
  .footer_2{
    margin-top: 4%;
  }
}