.main-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
}

.text_area{
  font-family: 'Roboto', sans-serif;
  height: 35vh;
  width: 50vw;
  font-size: 3vh;
}

.button_form{
  background: none repeat scroll 0 0 transparent;
  border: solid black 1px;
  border-radius: 25;
  border-spacing: 2;
  font-family: "Dancing Script", cursive;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;

  font-size: 4vh;

  height: 6vh;
  width: 12vw;
  text-align: center;
  margin-top: 5%;

 background:black;
 color: white;
}

.button_form:hover{
  cursor: pointer;
  background: #b71c1c;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}